:root {
    --white: #e0e0e0;
}

* {
    font-family: Montserrat;
    box-sizing: border-box;
}

body,html {
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}
.panel {
    padding:10px;
    background-color: green;
}

nav {
    /* box-shadow: 2px 1px 7px 0px rgb(0 0 0 / 10%); */
    /* background-color: white; */
    display: flex;
    justify-content: flex-end;
}

nav ul {
    padding: 0;
    list-style-type: none;
    margin:0;
    justify-content: center;
}
nav ul li {
    display: inline-block;
}

nav ul li a {
    font-weight: bold;
    font-size: 11pt;
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    padding:30px 20px;
}

nav ul li:hover {
    /* background-color: whitesmoke; */
    cursor: pointer;
}

header {
    padding: 10px 100px;
    background-color: #030931;
}

.banner {
    background: url("./assets/Banner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 436px;
    background-position-x: center;
}

.greetings p {
    color:#454545;
    font-weight: bold;
    font-size: 26pt;
    word-break: break-all
}

.greetings p > :not(.not) {
    border-left: 2px solid #454545;
    animation: blink 1s step-end infinite;
    margin-left: 5px;
}


main {
    background-color: var(--white);
    padding:40px 100px
}

main p {
    margin:0;
}

.greet {
    margin:0;
    margin-top:20px
}

.greetings {
    padding: 30px 100px;
    padding-top:100px;
    background-color: whitesmoke;
    color:#454545
}

.greetings .headline {
    margin:0;
    font-size: 10pt;
    font-weight: normal;
}


.image-container {
    text-align: center;
}

.image-container img {
    width: 150px;
    border-radius: 100%;
    border: 6px solid whitesmoke;
    position: absolute;
    transform: translate(-100px,-60px);
}

.line-through {
    display:block;
    border-top:1px solid #e0e0e0;
    margin-top: 30px;
}

.stacks {
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 10px;
}

.stack-card {
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: whitesmoke;
}

.stack-card i {
    font-size: 17pt;
    margin-right: 10px;
}

.stack-card h4 {
    color: #454545;
    font-size: 10pt;
}

.projects {
    background-color:whitesmoke ;
    padding: 30px 100px;
    color:#454545
}


.projects h2 {
    margin:0
}

.B {
    fill: #ff6c37
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    margin-top: 30px;
}

.project-card {
    border-radius: 4px;
    overflow: hidden;
    background-color: white;
    border: 1px solid #e0e0e0
}

.project-card img {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
}

.project-card-body {
    padding:10px 20px;
    color: #454545
}

.project-card-body p {
    font-size: 10pt;
}

.project-card-body h5 {
    margin: 5px 0;
}

.stacks-container {
    padding: 30px 100px;
    background-color: #030931;
    color: var(--white)
}

.stack-used {
    font-size:17pt;
    margin-right: 10px;
}

.timeline {
    display: flex;
    margin-top: 30px;
}

.bar {
    padding: 3px;
    background-color: #030931;
    /* height: 100px; */
    border-radius: 50px;
    margin-left: 10px;
}

.dot {
    position: absolute;
    background-color: #030931;
    border: 5px solid whitesmoke;
    padding: 8px;
    border-radius: 100%;
    transform: translate(-36px,0px);
}

.experience-container {
    padding: 20px 0
}

.experience {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.experience:not(:last-child) {
    margin-bottom: 40px;

}

.experience img{
    width: 50px;
    margin-right: 10px;
}

.experience h5 {
    margin:0;
    font-size: 11pt;
}

.experience p {
    margin:0;
    font-size: 10pt;
    font-weight: normal;
}

.devtools {
    font-weight: normal;
    font-size:12pt
}

.pls {
    font-weight: normal;
    font-size:12pt
}

@keyframes blink {
    from,to {
        border-color: transparent;
    }
    50%{
        border-color: #454545;
    }
}

@media only screen and (max-width:763px) {
    header {
        padding: 0 30px;
        background-position: center;
    }
    .greetings {
        padding: 20px 30px;
        padding-top: 80px
    }

    .projects {
        padding: 20px 30px
    }
    .project-container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin-top:10px
    }
    .stacks-container {
        padding:30px
    }
    .stacks {
        grid-template-columns: repeat(3,1fr);
        /* grid-gap: 0; */
        grid-template-rows: auto;

    }
    .greetings p {
        font-size:20pt;
        margin:0;
    }
    .greetings .headline {
        font-size: 10pt
    }
    nav ul li a{
        /* display: none; */
        font-size: 10pt;
        padding: 10px
    }
    nav {
        padding: 20px
    }

    .image-container img{
        width: 120px;
        transform: translate(-80px,-50px);
    }
    .devtools {
        font-size:12pt
    }
    .pls {
        font-size:12pt
    }

    .timeline {
        padding-bottom: 20px;
        margin-top: 10px
    }

    .experience h5 {
        font-size:10pt
    }
    .experience p {
        font-size: 10pt
    }
}

@media only screen and (max-width:640px) {
    header {
        padding: 0;
        background-position: center;
    }
    .greetings {
        padding: 20px 10px;
        padding-top: 80px
    }

    .projects {
        padding: 20px 10px
    }
    .project-container {
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-top:10px
    }
    .stacks-container {
        padding:10px
    }
    .stacks {
        grid-template-columns: 1fr 1fr;
        /* grid-gap: 0; */
        grid-template-rows: auto;

    }
    .greetings p {
        font-size:14pt;
        margin:0;
    }
    .greetings .headline {
        font-size: 8pt
    }
    nav ul li a{
        /* display: none; */
        font-size: 8pt;
        padding: 10px
    }
    nav {
        padding: 20px
    }

    .image-container img{
        width: 80px;
        transform: translate(-40px,-30px);
    }
    .devtools {
        font-size:10pt
    }
    .pls {
        font-size:10pt
    }

    .timeline {
        padding-bottom: 20px;
        margin-top: 10px
    }

    .experience h5 {
        font-size:10pt
    }
    .experience p {
        font-size: 10pt
    }
    .banner {
        background-size: 700px;
        padding-bottom: 200px;
        background-position: center;

    }
}